Bem-vindo ao aluga temporada!

<ul>
  <% @regions.each do |region| %>
    <li><%= link_to region.name, region %></li>
  <% end %>
</ul>


<%= link_to 'Cadastrar Imóvel', new_property_path %>

<%= link_to 'Ver propostas', proposals_path %>

<%= link_to 'Meus imóveis', realtors_path %>

      <% if user_signed_in? %>
      <p> <%= link_to 'Minhas propostas', proposals_path %>  </p>
      <% end%>