<ul>
  <% @proposal.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= form_for([@property, @proposal]) do |f| %>
  <%= f.label :start_date %>
  <%= f.text_field :start_date %>
  <%= f.label :end_date %>
  <%= f.text_field :end_date %>
  <%= f.label :total_guests %>
  <%= f.text_field :total_guests %>
  <%= f.label :rent_purpose %>
  <%= f.text_field :rent_purpose %>
  <%= f.label :pet, 'Vai levar animais?' %>
  <%= f.check_box :pet %>
  <%= f.label :smoker, 'Fumante?' %>
  <%= f.check_box :smoker %>
  <%= f.submit 'Enviar' %>
<% end %> 
