<h1><%= @region.name %></h1>

<% if realtor_signed_in? %>
  <p><%= link_to 'Editar', edit_region_path(@region) %></p>
<% end %>

<%= flash[:error] %>
<% @region.properties.each do |property| %>
  <%= image_tag property.main_photo.url %>
  <h2><%= property.title %></h2>
  <p><%= property.maximum_guests %></p>
  <p><%= property.property_type.name %></p>
  <%= link_to 'Proposta', new_property_proposal_path(property.id) %>
<% end %>